html {
	height: 100%;
	box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.section-full {
    min-height: 100vh;
}

.section-half {
    min-height: 70vh;
}

.pink-left-right {
    background-image: linear-gradient(to right, #FFE0E3, #F1ABB9);
}

.justify-center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auto {
    margin-left: auto;
    margin-right: auto;
}

.btn-white {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    margin: 0px 20px;
    transition: 0.5 ease;
}

.btn-white:hover {
	opacity: 0.9;
	background-color: white;
	border-color: black;
	color:black;
    transition: 0.5 ease;
}
