html,
body { 
    min-height: 100%; 
}

.bg-color {
    background-image:  url('../img/bg.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../img/04.gif');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn {
    min-width: 100px;
    min-height: 50px;
    border-radius: 10px !important;
    transition: 0.5s ease;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.2);
    transition: 0.5s ease;
}

#second-no {
	display: none;
}

#third-no {
	display: none;
}

#fourth-no {
	display: none;
}

#fifth-no {
	display: none;
}

#confess {
    display: none;
}

.bg {
    background-image: url("img/03.gif");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plain {
    text-decoration: none;
    color: white;
}

.plain:hover {
    text-decoration: none;
    color: white;
    opacity: 0.9;
}




